<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav" style="margin: 20px 20px; gap: 20px;">
            <a class="nav-link" href="/admin">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Dashboard
            </a>
            <a class="nav-link" href="/category">
              <div class="sb-nav-link-icon"><i class="fa-solid fa-tags"></i></div>
              Category
            </a>
            <a class="nav-link" href="products">
              <div class="sb-nav-link-icon"><i class="fas fa-box-open"></i></div>
              Products
            </a>
            <a class="nav-link" href="orders">
              <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
              Orders
            </a>
            <a class="nav-link" href="customers">
              <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
              Customers
            </a>
            <a class="nav-link" href="reports">
              <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
              Sales Reports
            </a>
          </div>
        </div>

      </nav>
    </div>